.Menustyle {
  text-align: left;
  font-weight: bold;
}

.card {
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.18);
  border: none !important;
}

.product-list-element h5 {
  margin-bottom: 0px;
  padding: 10px 15px;
  text-align: left;
  background: #333;
  color: #fff;
  font-weight: 600;
}

.tab-main-element {
  margin-top: 60px;
}

.product-list-element ul.list-group {
  overflow-y: scroll;
  padding: 0;
}

.sidebar_element .list-group {
  padding: 20px 10px;
}

.sidebar_element .list-group .list-group-item {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e0e0e0 !important;
  margin-bottom: 1px;
}

.product-list-element ul li {
  position: relative;
  padding-left: 60px;
  display: flex;
  align-items: center;
}

.product-list-element ul li button {
  margin-left: auto;
  width: 90px;
  padding: 5px;
}

.product-list-element ul li img {
  position: absolute;
  left: 10px;
}

.product-list-element ul li p {
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.product-list-element ul li span {
  text-align: left;
  font-weight: 600;
  color: #555;
}

/* sidebr element css */

.sidebar_element {
  height: 100%;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  position: relative;
  flex-direction: column;
}

.plate-image {
  background-image: url("./assets/plate.png");
  width: 100%;
  height: 100%;
  /* min-height: 100%; */
  background-repeat: no-repeat;
  background-position: center;
}

.subtotal-list {
  align-items: flex-end;
  justify-content: space-around;
  display: flex;
  position: absolute;
  bottom: 1px;
  width: 100%;
}

.total_product_element {
  bottom: 0;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0;
  width: 100%;
}

.total_product_element ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  padding: 0px 20px;
}

.total_product_element {
  font-size: 14px;
  font-weight: 600;
}

.total_product_element ul li span.price,
.total_product_element ul li span.subtotal {
  /* margin-left: auto; */
  font-weight: 300;
  font-size: 16px;
}

.total_product_element ul li textarea {
  width: 100%;
  padding: 10px;
  height: 50px;
}

.total_product_element ul li button {
  width: 100%;
  margin: 10px 0px;
  font-size: 18px;
  font-weight: 600;
}

.add_product {
  position: relative;
}

.add_product input {
  text-align: center;
  padding: 0px 30px;
}

.add_product button {
  position: absolute;
  top: 0px;
}

.add_product .add_btn {
  right: 0px;
}

.sidebar_element ul {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  /* flex: 1 0 430px; */
  top: 0;
}

.sidebar_element ul li {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.link-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  color: #63a14f;
}

.cart-quantity {
  line-height: 2;
}

.link-button:hover,
.link-button:focus {
  color: #63a14f;
}

.delivery-options-buttons {
  display: flex;
  justify-content: space-evenly;
}

.checkout-card {
  margin-bottom: 30px;
}

.checkout-card .card-header,
.checkout-card .card-footer {
  background: #fff;
}

.res-logo {
  max-width: 80px;
  max-height: 80px;
}

/* Check mark*/

.checkmark-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.checkmark-circle .background {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #2eb150;
  position: absolute;
}

.checkmark-circle .checkmark {
  border-radius: 5px;
}

.checkmark-circle .checkmark.draw:after {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  animation-delay: 100ms;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: checkmark;
  -moz-animation-name: checkmark;
  animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -o-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.checkmark-circle .checkmark:after {
  opacity: 1;
  height: 75px;
  width: 37.5px;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  border-right: 15px solid white;
  border-top: 15px solid white;
  border-radius: 2.5px !important;
  content: "";
  left: 35px;
  top: 75px;
  position: absolute;
}

.otp-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
